---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}
  <div class="pull"></div>
  {% include twitter.html %}
  <hr>

  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-2613855278776966";
  /* anuncio_cabelhaco */
  google_ad_slot = "1052870738";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>


  {% include disqus.html %}

   {% include analytics.html %}
</section>
